.row-example{
    background:black;
    margin: 0 0px;
    .col-md-8{
        border: 1px solid white;
    }

    .col-md-4{
        border: 1px solid white;        
    }

    .col-sm-6{
        border: 1px solid white;  
        background: grey;      
    }
}