.footer{
    background:rgba(0,0,0,.35);
    margin-top: 10px;
    padding-top: 20px;
    border-top: 1px solid white;
    .container{
        padding-bottom:5px;
        p{
            margin-bottom: 5px;
        }
    }
}