.footer{
    background:rgba(0,0,0,.25);
    margin-top: 10px;
    padding-top: 20px;
    border-top: 1px solid white;
    position:relative;
    width: 100%;

    .container{
        padding-bottom:5px;
        p{
            margin-bottom: 5px;
        }
    }

    .footLogo{
        position: absolute;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        opacity: 0.3;
    }
}