@import "partials/root";
@import "partials/componentExample";
@import "partials/counter";
@import "partials/gridExample";
@import "partials/textBindingExample";
@import "partials/footer";

.bg-clear{
	background:rgba(0,0,0,0);
}

#redootNav{
	border-bottom: white 1px solid;
}

.underNav{
	padding-top: 66px;
}

.mainLogo{
	max-height: 25vh;
	padding: 10px;
}

.gitBtn{
	margin-top: 10px;
	background: rgba(0,0,0,.35) !important;
	border-width: 0px;
	&:hover{
		background: rgba(255,255,255,.25) !important;
	}
}

.banner{
	padding-bottom: 20px;
}